@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Medium';
  src: url('/fonts/Gotham Medium/Gotham Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gotham Medium', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}